.texto_justificado{
    text-align: justify;
}

ul#lista{
    list-style-type: disc;
    margin-left: 50px;
}

img#mapa{
    height: 500px;
}
.panel-heading a{
    color: #676767;
}

.link_inscreva-se{
    width: 250px;
    height: 60px;
    font-size: 20pt;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    padding: 10px;
    border-width: 1px;
    transition: background-color 0.5s;
    background-color: #1da2e2;
    color: #ffffff;
}

.link_inscreva-se:hover{
    text-decoration: none;
    background-color: #03739e;
    transition: background-color 0.5s;
    color: #ffffff;
}

.link_saiba_mais:hover{
    cursor: cell;
}

.corpo_produto a {
    color: #000000;
}

.links_produto a:hover {
    color: #939393;
}

.corpo_caracteristica {
    height: 300px;
    overflow: auto;
}

.link_slide {
    color: #ffffff;
}

.link_slide:hover {
    color: #000000;
}